@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: White;
}

.logo {
    color: #89C5CC;
    font-family: 'Mulish', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 24px;
}

.nav-superior {
    display: flex;
    gap: 20px;
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-item {
    cursor: pointer;
    transition: color 0.3s;
}

.nav-item.bold {
    font-weight: bold;
}

.nav-item:hover {
    color: #007BFF;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left,
.right {
    width: 48%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para o texto em negrito no footer */
footer strong {
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.highlighted-text {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    color: #333;
}

.highlight {
    color: #89C5CC;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.small-text {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #7D7987;
    margin: 0;
    padding: 0;
}

.small-text strong {
    font-weight: bold;
    color: #7D7987;
}

.left {
    position: relative;
}

.cta-button {
    bottom: 15px;
    right: 15px;
    width: 179px;
    height: 56px;
    background-color: #69B99D;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 14px 32px 15px 32px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #4A8C6A;
    transform: scale(1.05);
}

.cta-button:active {
    background-color: #397F56;
    transform: scale(0.95);
}
